<mt:setvarblock name="js_include" append="1">
<script type="text/javascript">
(function($) {

$.extend(MT.Editor.TinyMCE.config, {
    remove_trailing_brs: false
});

})(jQuery);
</script>
</mt:setvarblock>
